@{
    ViewData["Title"] = "Public Opinion Finder";
}
<head>
    <link href="~/css/main.css" rel="stylesheet">
    <title>Стартовая страница | Public Opinion Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="montserratfont">
    <h1 class="centeredheader">Добро пожаловать в Public Opinion Finder!</h1>
    <h2 class="centeredheader">Начните анализ по заданной теме</h2>
    @using (Html.BeginForm("Search", "Home"))
    {
    <div class="centeredblock">
        <div>
            <div class="startalignedblock">
                @Html.TextBox("poststheme", "", new { @class = "extendedinput horizontallylimited" })
                <label id="poststhemelabel" class="gappedelem">Тема постов и комментариев для анализа</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div class="startalignedblock">
                @Html.TextBox("postscount", "",
                    new
                    {
                        @type = "number",
                        @min = "1",
                        @max = "1000",
                        @required = "",
                        @class = "extendedinput horizontallylimited"
                    })
                <label id="postscountlabel" class="gappedelem">Количество постов (до 1000)</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div class="startalignedblock checkboxoffset">
                @Html.CheckBox("withtopics", false, new { @class = "extendedinput" })
                <label id="withtopicslabel" class="gappedelem">Выявлять темы?</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div class="startalignedblock checkboxoffset">
                @Html.CheckBox("withcomms", true, new { @class = "extendedinput" })
                <label id="withcommslabel" class="gappedelem">Включать комментарии?</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div id="commsperpostblock" class="startalignedblock">
                @Html.TextBox("commsperpost", "",
                            new
                            {
                                @type = "number",
                                @min = "1",
                                @class = "extendedinput horizontallylimited"
                            })
                <div>
                    <label id="commsperpostlabel" class="gappedelem">Количество комментариев к посту</label>
                    <div style="line-height:40%;"><br></div>
                    <label id="commsperpostlabel2" class="gappedelem">Оставьте пустым, чтобы выгружать все</label>
                </div>
            </div>            
        </div>                     
    </div> 
    <div class="centeredblock gappedelemhigh">
        <input id="postssearchsubmit" type="submit" value="Найти посты и комментарии" class="extendedinputhigh montserratfont" />
    </div>
    }
    <h2 class="centeredheader">Или</h2>
    <h2 class="centeredheader">Произведите поиск трендов в популярных группах</h2>
    @using (Html.BeginForm("FoundTrends", "Home"))
    {
    <div class="centeredblock">
        <div>
            <div class="startalignedblock">
                @Html.TextBox("topicsnum", "",
                    new
                    {
                        @type = "number",
                        @min = "1",
                        @max = "10",
                        @required = "",
                        @class = "extendedinput horizontallylimited"
                    })
                <label id="topicsnumlabel" class="gappedelem">Количество тем (до 10)</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div class="startalignedblock">
                @Html.TextBox("termspertopic", "",
                    new
                    {
                        @type = "number",
                        @min = "1",
                        @max = "10",
                        @required = "",
                        @class = "extendedinput horizontallylimited"
                    })
                <div>
                    <label id="termspertopiclabel" class="gappedelem">Количество слов, характеризующих тему (до 10)</label>
                    <div style="line-height:40%;"><br></div>
                    <label id="termspertopiclabel2" class="gappedelem">Слова будут приведены к нормальной форме</label>
                </div>
            </div>
            <div style="line-height:60%;"><br></div>
            <div class="startalignedblock">
                @Html.TextBox("postspergrouptopic", "",
                    new
                    {
                        @type = "number",
                        @min = "1",
                        @max = "100",
                        @required = "",
                        @class = "extendedinput horizontallylimited"
                    })
                <label id="postspergrouptopiclabel" class="gappedelem">Количество постов для анализа из одной группы (до 100)</label>
            </div>
            <div style="line-height:60%;"><br></div>
                    <div class="startalignedblock checkboxoffset">
                @Html.CheckBox("withcommstopic", true, new { @class = "extendedinput" })
                <label id="withcommstopiclabel" class="gappedelem">Включать комментарии?</label>
            </div>
            <div style="line-height:60%;"><br></div>
            <div id="commsperposttopicblock" class="startalignedblock">
                @Html.TextBox("commsperposttopic", "",
                    new
                    {
                        @type = "number",
                        @min = "1",
                        @class = "extendedinput horizontallylimited"
                    })
                <div>
                    <label id="commsperposttopicslabel" class="gappedelem">Количество комментариев к посту</label>
                    <div style="line-height:40%;"><br></div>
                    <label id="commsperposttopicslabel2" class="gappedelem">Оставьте пустым, чтобы выгружать все</label>
                </div>
            </div>
        </div>
    </div>
    <div class="centeredblock gappedelemhigh">
        <input type="submit" id="topicssearchsubmit" value="Выполнить поиск трендов" class="extendedinputhigh montserratfont" />
    </div>
    }
    <h2 class="centeredheader">Или</h2>
    <h2 class="centeredheader">Выполните анализ подготовленных вами текстов</h2>
    @using (Html.BeginForm("ProcessTexts", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="centeredblock">
        <div>
            <div class="startalignedblock">
                <input type="file" name="textsfile" accept="text/plain" class="montserratfont" />               
                <div>
                    <label id="textsfilelabel" class="gappedelem">Файл с текстами для анализа</label>
                    <div style="line-height:40%;"><br></div>
                    <label id="textsfilelabel2" class="gappedelem">Тексты в файле должны быть разделены построчно</label>
                </div>
            </div>                
        </div>
    </div>
    <div class="centeredblock gappedelemhigh">
        <input type="submit" id="textssubmit" value="Загрузить тексты" class="extendedinputhigh montserratfont" />
    </div>
    }   
</div>
<script>
$(document).ready(function () {
    $('#withcomms').click(function () {         
        if ($(this).is(':checked')) {
            $('#poststopiclabel').text("Тема постов и комментариев");
            $('#postssearchsubmit').val("Найти посты и комментарии");
            $("#commsperpostblock").css("display", "flex");
        }
        else {
            $('#poststopiclabel').text("Тема постов");
            $('#postssearchsubmit').val("Найти посты");
            $("#commsperpostblock").css("display", "none");
        }
        
    });
    $('#withcommstopic').click(function () {
        if ($(this).is(':checked')) {
            $("#commsperposttopicblock").css("display", "flex");
        }
        else {
            $("#commsperposttopicblock").css("display", "none");
        }

    });
});
</script>
</body>